@model IEnumerable<BL.ChatViewModel>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@foreach (var item in Model)
{
    <a asp-action="ChatView" asp-controller="Chat" asp-route-chatId="@item.Id" class="list-group-item list-group-item-action border-0">
        <div class="d-flex align-items-start">
            @if (item.IsPrivate)
            {
                <div class="flex-grow-1 ml-3">
                    @item.ChatName
                </div>
            }
            else
            {
                <div class="flex-grow-1 ml-3">
                    @item.ChatName
                </div>
            }

        </div>
    </a>
}

